/* Para navegadores baseados em WebKit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 12px; /* Largura do scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Cor de fundo da trilha */
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--q-primary); /* Usando a cor primary do Quasar */
    border-radius: 10px; /* Bordas arredondadas */
    border: 3px solid #f1f1f1; /* Cor de fundo da trilha */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: var(--q-primary-dark); /* Cor ao passar o mouse */
  }
  